/* @media (min-width: 1441px) and (max-width: 2559px) {
  :global(.xl\:w-\[45\%\]) {
    width: 55% !important;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  :global(.xl\:w-\[45\%\]) {
    width: 58% !important;
  }
}

@media (width: 768px){
  :global(.xl\:w-\[45\%\]) {
    width: 50% !important;
  }
} */

@media (max-width: 320px) {

  /* Slightly reduce heading size */
  :global(h1) {
    font-size: 1.9rem !important;
    line-height: 1.05 !important;
  }

  /* Slightly reduce paragraph size */
  :global(p) {
    font-size: 0.8rem !important;
    line-height: 1.4 !important;
  }

}

@media (max-width: 500px) { 
  :global(.top-\[45\%\]) { 
    top: 19% !important; 
  } 

  :global(.bottom-12) { 
    bottom: calc(var(--spacing) * 75) !important; 
  } 
  
  :global(.max-w-\[250px\]) { 
    max-width: 235px !important; 
  } 
  
  :global(.text-right) { 
    text-align: center !important; 
  }
  
  :global(.bottom-12.left-1\/2.-translate-x-1\/2) {
    bottom: auto !important;
    top: 89% !important;
    left: 100% !important;
    transform: translate(-50%, -50%) !important;

    z-index: 999 !important; 
    position: absolute !important;
    pointer-events: auto;
  }

  :global(.absolute.inset-0.text-\[\#f5f5f5\].z-10) {
    z-index: 999 !important;
  }

  :global(.bottom-12.left-1\/2.-translate-x-1\/2 button) {
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.35);
  }
}